.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn:hover {background: #eee;}
  
  .green {color: green;}
  .red {color: rgb(0, 17, 255);}

  body {
    background-image: url("bc.jpg");
  
    background-color: #cccccc;
   }
   div{
    text-align: center;
    display:inline;
    
    }
    #my-text{
    display:inline;
    color: #ffffff;

    

    background-color: #000000;
    opacity: 0.8;
    }


    .btn {
      box-shadow: 0px 0px 15px 2px #001aff;
      transition: 0.2s;
    }

    .btn:focus {
      box-shadow: 0px 0px 15px 2px #ff00dd;
      transition: 0.2s;
    }

    .stop-buttons{
      
      margin-bottom:25px;
      display: block;
    }
    

    .play-buttons{
      margin-bottom:25px;
      display: block;
   }
   
   
    .record-buttons{
      margin-bottom:25px;
      display: block;
    }

    